.App {
  padding: 30px;
  display: flex;
}

.App div {
  margin-right: 50px;
}

.is-done {
  opacity: 0.5;
}

.active-filter {
  background-color: aquamarine;
}

.error {
  border: 2px solid red;
}

.task {
  width: 220px;
  list-style-type: none;
  margin-left: -45px;
}

.task button {
  color: red;
  float: right;
}